body {
    background-color :#333333;
}

.titulo{
    text-align: center;
}

.arriba{
    font-size: 60px;
    color: white;
    font-family: sans-serif;
}

nav{
    background-color: black;
    text-decoration: none;
    text-align: center;
    vertical-align: top;
    padding: 2%;  
}
.itemMenu{
    position: relative;
    text-align: center;
    background-color: black;
    text-decoration: none;
    color: white;
    margin: 0%;
    margin-right: 5%;
    padding: 1%;
    font-size: 30px;
}
.itemMenu:hover{
    background-color: brown;
    color: black;
}
.imagenes{
    width: 250px;
    height: 200px;
    border-radius: 100%;
    line-break: auto;
    margin-left: 2%;
}
.imagenesdiv{
    text-align: center;
    margin-top: 10%;
}
#clickImagen{
    background: none;
}
#clickImagen:hover{
    background: none;
}