body{
    background-color: darkslategray;
}
.titulo{
    text-align: center;
}
#kanji{
    color: black;
    font-size: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#kanji2{
    color: black;
    font-size: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#kanji3{
    color: black;
    font-size: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#kanji4{
    color: black;
    font-size: 80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.section1{
    text-align: center;
    background-color: darkred;
    height: 25%;
}
.section2{
    text-align: center;
    background-color: darkred;
    height: 25%;
}
.section3{
    text-align: center;
    background-color: darkred;
    height: 25%;
}
.section4{
    text-align: center;
    background-color: darkred;
    height: 25%;
}
.information{
    text-align: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: gray;
}
nav{
    background-color: black;
    text-decoration: none;
    text-align: center;
    vertical-align: top;
    padding: 2%;  
}
a{
    position: relative;
    text-align: center;
    background-color: brown;
    text-decoration: none;
    color: black;
    margin: 0%;
    margin-right: 5%;
    padding: 1%;
}
a:hover{
    background-color: white;
    color: red;
}
.Buscador{
    margin-top: 3%;
    text-align: center;
    border: none;
}
