body {background-color :#333333;}


.titulo{
    text-align: center;
}

#kanji{
    color: black;
    font-size: 80px;
}
.section1{
    text-align: center;
    background-color: brown;
    height: 25%;
}
.information{
    text-align: left;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: aquamarine;
}

.arriba{
    font-size: 60px;
    color: white;
    font-family: sans-serif;

}

nav{
    background-color: black;
    text-decoration: none;
    text-align: center;
    vertical-align: top;
    padding: 2%;  
}
a{
    position: relative;
    text-align: center;
    background-color: black;
    text-decoration: none;
    color: white;
    margin: 0%;
    margin-right: 5%;
    padding: 1%;
    font-size: 30px;
}
a:hover{
    background-color: brown;
    color: black;
}

.Video1{
    position: relative;
    top:  10px;
    left: 800px;
    text-align: left;
}

.vidio2{
    position: relative;
    top:  100px;
    left: 60px;
}

.Vidio3{
    position: relative;
    top:  200px;
    left: 800px;
}

.vidio4{
    position: relative;
    top:  300px;
    left: 60px;
}

.texto1{
    position: absolute;
    top: 300px;
    font-size: 20px;
    margin: auto;
    color : white;
    text-align: left;
}
.texto2{
    position: absolute;
    top: 700px;
    right: 0 px;
    left: 700px;
    font-size: 20px;
    
    color : white;
    text-align: right;
}
.texto3{
    position: absolute;
    top: 1150px;
    font-size: 20px;
    margin: auto;
    color : white;
    text-align: left;
}
.texto4{
    position: absolute;
    top: 1640px;
    right: 0 px;
    left: 700px;
    font-size: 20px;
    
    color : white;
    text-align: right;
}