.Video1{
    position: relative;
    top:  10px;
    left: 800px;
    text-align: left;
}

.vidio2{
    position: relative;
    top:  100px;
    left: 60px;
}

.Vidio3{
    position: relative;
    top:  200px;
    left: 800px;
}

.vidio4{
    position: relative;
    top:  300px;
    left: 60px;
}

.texto1{
    position: absolute;
    top: 300px;
    font-size: 20px;
    margin: auto;
    color : white;
    text-align: left;
}
.texto2{
    position: absolute;
    top: 700px;
    right: 0 px;
    left: 700px;
    font-size: 20px;
    
    color : white;
    text-align: right;
}
.texto3{
    position: absolute;
    top: 1150px;
    font-size: 20px;
    margin: auto;
    color : white;
    text-align: left;
}
.texto4{
    position: absolute;
    top: 1640px;
    right: 0 px;
    left: 700px;
    font-size: 20px;
    
    color : white;
    text-align: right;
}